
html{
    background-color: #00BE00;
}
header{
    background-color:#45A545;
    height:100px;
    margin:20px 0px 0px 0px;
}
h1 {
    color: #FFFFFF;
    padding: 22px 0 0 20px;
}
nav {
    width: 500px;
    height: 20px;
    background: #8BFC8B;
    margin-left: 200px;
}
nav ul {
    margin: 0 0 0 -10px;
 
}

 nav li {
    float: left;
    list-style-type: none;
    padding: 0 10px; 
}
section {
    width:75%;
    order: 1;
    margin-top: 20px;
    background-color: #056005;
}
body {
    color: #7DCB7D; 
    background-color: #056005;
}
article p {
    padding: 0px 0px 20px 5px;
}
article {
    display:block;
}
main{
    display: flex;
    overflow: hidden;
}
aside {
    width: 25%;
    background-color: #056005;
    flex: 1;
    padding: 10px;
    order: 2;
}
aside li {
    margin-left:-10px;
}
h2 {
    color:#FFFFFF;
}
h3 {
    color:#FFFFFF;
}
ul {
    color: #7DCB7D;
}
p {
    color: #7DCB7D;
}
li{
    padding:10px;
}

.lahde {
    text-align: right;
}
.ylareuna {
    margin-top:-40px;
}

footer {
    background-color: #63AC63;
    margin-top:-17px;
    height:40px;
}
footer p{
    color:#000000;
    padding:10px 0 0 10px;
}


